<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Main</title>
</head>
<body>
    <div class="main">{{me.surname}} {{me.name}}</div>
    {%if me.age > 18 %}
        <p>Aged</p>
    {% endif %}
    <img src="{% static "images/myImage.png" %}" alt="My Foto" >
    <p>Host: {{host}}</p>
    <p>Path: {{path}}</p>
    <p>User-agent: {{user_agent}}</p>
    <p>{% now "j F Y P" %}</p>
</body>
</html>